<div class="row">
        <div class="mb-4 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center header-color-card card">
            <h4 class="text-white text-center">Informes Visitantes PriceShoes</h4>
        </div>
        <iframe class="w-100" width="1140" height="700.25" src="https://app.powerbi.com/reportEmbed?reportId=38ad9f51-1d4a-43d7-beb3-f12113e7590e&autoAuth=true&ctid=4f1e044d-3d70-4990-b26a-b95f0c642e1a&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
        frameborder="0" allowFullScreen="true"></iframe>
</div>



