<nb-card>
    <nb-card-header class="header-color-card">
        <i class="mx-1 fa fa-tasks icon pointer"></i> Listado de Encuestas

    </nb-card-header>


    <nb-card-body>
        <!--         <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of encuestas;let indice=index">
                <tr>
                    <th scope="row">{{item.pk_tipoEncuesta}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.descripcion}}</td>
                    <td> <i class="mx-1 fa fa-check-circle icon pointer" nbTooltip="Asignar Encuesta" (click)="abrirFormulario(item.pk_tipoEncuesta)" nbTooltipPlacement="top" nbTooltipStatus="warning"></i>
                        <i class="mx-1 fa fa-eye icon pointer" nbTooltip="Ver Asignaciones" (click)="abrirFormulario(item.pk_tipoEncuesta)" nbTooltipPlacement="top" nbTooltipStatus="warning"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header class="header-color-card">
        <i class="mx-1 fa fa-tasks icon pointer"></i> Listado de Encuestas Asignadas

    </nb-card-header>

    <nb-card-body>
        <!--         <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Apertura</th>
                    <th scope="col">Fecha de Cierre</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Gestionar</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of encuestasAsignadas;let indice=index">
                <tr>
                    <th scope="row">{{item.pk_aplicacionEncuesta}}</th>
                    <td>{{item.encuesta}}</td>
                    <td>{{item.fechaApertura}}</td>
                    <td>{{item.fechaCierre}}</td>

                    <td>{{item.tienda}}</td>

                    <td> <i class="mx-1 fa fa-pen icon pointer" nbTooltip="Editar Encuesta" (click)="abrirFormulario(item.pk_tipoEncuesta)" nbTooltipPlacement="top" nbTooltipStatus="warning"></i>
                        <i class="mx-1 fa fa-trash icon pointer" nbTooltip="Eliminar Asignaciones" (click)="fn_eliminarEncuesta_Asignada(item.pk_aplicacionEncuesta, item.tbl_tienda_pk_tienda)" nbTooltipPlacement="top" nbTooltipStatus="warning"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>

<!-- <nb-card>
    <nb-card-header>Encuestas</nb-card-header>
    <nb-card-body>
        <button nbButton (click)="open3()" [status]="'success'" outline>
            Añadir Encuesta
        </button>
    </nb-card-body>
</nb-card> -->