@import '../../../@theme/styles/themes';
@include nb-install-component() {
    input {
        width: 100%;
        max-width: 80% !important;
        margin-bottom: 1rem;
    }
    .cancel {
        margin-right: 1rem;
    }
    .card-tamano {
        overflow-y: auto;
        max-height: 100%;
    }
    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
    }
    .header-color-card {
        color: #ffffff !important;
        background: #e62a87 !important;
    }
    .color_iconos {
        color: #e62a87 !important;
    }
    ngx-chartjs-pie,
    ngx-chartjs-bar,
    ngx-chartjs-line,
    ngx-chartjs-multiple-xaxis,
    ngx-chartjs-bar-horizontal,
    ngx-chartjs-radar {
        display: block;
        height: nb-theme(card-height-medium);
        width: 100%;
         ::ng-deep chart {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .texto-azul {
        color: #33bdff !important;
    }
    .btn-azul {
        background-color: #33bdff;
        border-color: #6bafd7;
        color: #ffffff;
    }
    a.su-button.su-button-style-default:visited {
        background-color: green!important;
        border-color: green!important;
        border: 2px solid black!important;
    }
    .icon-size {
        font-size: 25px;
    }
    .posicion-cerrar-encuesta {
        position: absolute;
        right: 10px;
    }
    button:focus{background-color:#33bdff !important;}
}

