<div *ngIf="bMostarTabla" class="row">
  <div class="col-md-12 d-flex justify-content-center header-color-card card">
    <h4 class="text-white text-center">Aplicar Encuestas PriceShoes</h4>
  </div>

  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <!--         <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table> -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tienda</th>
              <th scope="col">Responder</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of encuestasAsignadas; let indice = index">
            <tr>
              <th scope="row">{{ item.pk_aplicacionEncuesta }}</th>
              <td>{{ item.encuesta }}</td>
              <td>{{ item.tienda }}</td>

              <td>
                <i
                  class="mx-1 fa fa-check-circle icon pointer"
                  nbTooltip="Responder Encuesta"
                  (click)="
                    fn_MostrartEncuesta(
                      item.pk_tipoEncuesta,
                      item.tbl_tienda_pk_tienda,
                      item.pk_aplicacionEncuesta
                    )
                  "
                  nbTooltipPlacement="top"
                  nbTooltipStatus="info"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="!bMostarTabla && tab === 0">
  <nb-card>
    <nb-card-header class="card-header">
      <nb-card-title class="card-title">
        Diligenciamiento de datos
      </nb-card-title>
      <p>Déjanos tus datos, y haz parte de nuestros clientes especiales.</p>
    </nb-card-header>
    <nb-card-content class="card-content mr-40">
      <div
        class="mt-3 d-flex h-100 row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Tipo de documento
        </p>

        <mat-select
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
            border: 1px solid rgb(83, 83, 83);
          "
          (selectionChange)="
            fn_preguntaRespuesta('Tipo de documento', $event.value, 0)
          "
        >
          <mat-option *ngFor="let item of tiposDocumento" [value]="item.id">
            {{ item.name }}</mat-option
          >
        </mat-select>
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Número de Documento
        </p>
        <input
          type="number"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (keyup)="
            fn_preguntaRespuesta('Número de Documento', $event.target.value, 1)
          "
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Nombres
        </p>
        <input
          type="text"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (keyup)="fn_preguntaRespuesta('Nombres', $event.target.value, 2)"
          required="required"
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Apellidos
        </p>
        <input
          type="text"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (keyup)="fn_preguntaRespuesta('Apellidos', $event.target.value, 3)"
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Fecha de cumpleaños
        </p>
        <input
          type="date"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (change)="
            fn_preguntaRespuesta('Fecha de cumpleaños', $event.target.value, 4)
          "
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Correo electrónico
        </p>
        <input
          type="email"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (keyup)="
            fn_preguntaRespuesta('Correo electrónico', $event.target.value, 5)
          "
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <p
          width="28%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: right;
          "
        >
          Número de teléfono
        </p>
        <input
          type="number"
          width="32%"
          style="
            align-self: start;
            width: 40%;
            margin-left: 0;
            margin-left: 4px;
          "
          (keyup)="
            fn_preguntaRespuesta('Número de teléfono', $event.target.value, 6)
          "
        />
      </div>
      <div
        class="d-flex row"
        display="flex"
        width="100%"
        style="justify-content: center"
      >
        <mat-checkbox
          (change)="touchTerms($event.checked)"
          width="30%"
          style="
            align-self: end;
            width: 30%;
            margin-right: 4px;
            text-align: left;
          "
          ><p>
            Acepta que tus datos sean tratados bajo la politica de tratamiendo
            de
            <br />
            datos de PRICE SHOES, la cual puedes encontrar en nuestra <br />
            pagina <a href="www.priceshoes.com.co">www.priceshoes.com.co</a>.
          </p>
        </mat-checkbox>
        <span *ngIf="submitted === true && aceptar === false"></span>
      </div>

      <div class="buttons">
        <button
          mat-stroked-button
          class="button-success"
          [disabled]="aceptar"
          (click)="changeTab()"
        >
          Siguiente
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </nb-card-content>
  </nb-card>
</div>

<div *ngIf="!bMostarTabla && tab === 1">
  <nb-card>
    <nb-card-header class="card-header">
      <nb-card-title class="card-title"> Hola !!! </nb-card-title>
      <p>
        Para el desarrollo de esta encuesta encontraras unos niveles de
        calificacion que te permitiran mas facilmente asignar una respuesta a
        cada pregunta realizada.
      </p>
    </nb-card-header>
    <nb-card-content class="card-content mr-40" style="text-align: center">
      <div class="section">
        <h6 class="section-title">Selección única</h6>
        <div class="faces">
          <div class="item">
            <mat-icon class="icon-face">sentiment_neutral</mat-icon>
            <p class="item-p">NO SABE NO RESPONDE</p>
          </div>
          <div class="item">
            <mat-icon class="icon-face">insert_emoticon</mat-icon>
            <p class="item-p">EXCELENTE</p>
          </div>
          <div class="item">
            <mat-icon class="icon-face">sentiment_satisfied_alt</mat-icon>
            <p class="item-p">BIEN</p>
          </div>
          <div class="item">
            <mat-icon class="icon-face">sentiment_dissatisfied</mat-icon>
            <p class="item-p">REGULAR</p>
          </div>
          <div class="item">
            <mat-icon class="icon-face">sentiment_very_dissatisfied</mat-icon>
            <p class="item-p">MALA</p>
          </div>
        </div>
      </div>
      <div class="section">
        <h6 class="section-title">Si / No</h6>
        <div class="faces">
          <div class="item">
            <mat-icon class="icon-face">sentiment_satisfied_alt</mat-icon>
            <p class="item-p">SI</p>
          </div>
          <div class="item">
            <mat-icon class="icon-face">sentiment_very_dissatisfied</mat-icon>
            <p class="item-p">NO</p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button
          mat-stroked-button
          class="button-success"
          [disabled]="aceptar"
          (click)="changeTab()"
        >
          Siguiente
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </nb-card-content>
  </nb-card>
</div>

<div *ngIf="!bMostarTabla && tab === 2">
  <nb-card *ngFor="let item of mostrar_encuesta; let i = index">
    <nb-card-header>
      <div
        *ngIf="i == 0"
        class="d-flex justify-content-center header-color-card card"
      >
        <h2 class="text-white text-center">
          {{ item.nombre_encuesta }}
        </h2>
        <i
          class="
            posicion-cerrar-encuesta
            icon-size
            fa fa-window-close
            text-white
            icon
            pointer
          "
          (click)="bMostarTabla = true"
        ></i>
      </div>
    </nb-card-header>

    <!--Tipo Si / No-->
    <nb-card-body *ngIf="item.tipo_pregunta === 'si-no'">
      <div class="d-flex justify-content-center card">
        <h6 class="texto-azul text-center">{{ item.pregunta }}</h6>
      </div>
      <div
        *ngIf="item.imagen != ''"
        class="imagePreview d-flex justify-content-center"
      >
        <img
          width="200px"
          height="200px"
          [src]="item.imagen"
          [alt]="item.imagen"
        />
      </div>
      <div
        [id]="i"
        class="mt-3 d-flex h-100 align-items-center justify-content-center"
      >
        <ng-container>
          <div style="display: flex">
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'si', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{ selected: checkSelected(i + 6, 'si') === true }"
                >sentiment_satisfied_alt</mat-icon
              >
              <p class="item-p">SI</p>
            </div>
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'no', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{ selected: checkSelected(i + 6, 'no') === true }"
                >sentiment_very_dissatisfied</mat-icon
              >
              <p class="item-p">NO</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div
        class="d-flex"
        style="margin: 30px; align-items: center"
        *ngIf="item.porque_pregunta === 1"
      >
        <input
          nbInput
          name="inputPorque"
          fullWidth
          placeholder="Porqué?"
          fieldSize="large"
          autofocus
          style="margin: auto"
          (keyup)="
            fn_preguntaRespuestaPorque(
              item.pregunta,
              $event.target.value,
              i + 6
            )
          "
        />
      </div>
    </nb-card-body>

    <!--Seleccion Multiple con única respuesta-->
    <nb-card-body
      *ngIf="
        item.tipo_pregunta === 'opciones-unica' || item.tipo_pregunta === null
      "
    >
      <div class="d-flex justify-content-center card">
        <h6 class="texto-azul text-center">{{ item.pregunta }}</h6>
      </div>
      <div
        *ngIf="item.imagen != ''"
        class="imagePreview d-flex justify-content-center"
      >
        <img
          width="200px"
          height="200px"
          [src]="item.imagen"
          [alt]="item.imagen"
        />
      </div>
      <div
        [id]="i"
        class="mt-3 d-flex h-100 align-items-center justify-content-center"
      >
        <ng-container *ngFor="let respuesta of item['nombre_respuesta']">
          <button
            class="m-2"
            nbButton
            [status]="'info'"
            (click)="fn_preguntaRespuesta(item.pregunta, respuesta, i + 6)"
          >
            <!--  <i class="mx-1 icon-size fa fa-grin-beam text-white icon pointer" ></i> -->{{
              respuesta
            }}
          </button>
        </ng-container>
      </div>
      <div
        class="d-flex"
        style="margin: 30px; align-items: center"
        *ngIf="item.porque_pregunta === 1"
      >
        <input
          nbInput
          name="inputPorque"
          fullWidth
          placeholder="Porqué?"
          fieldSize="large"
          autofocus
          style="margin: auto"
          (keyup)="
            fn_preguntaRespuestaPorque(
              item.pregunta,
              $event.target.value,
              i + 6
            )
          "
        />
      </div>
    </nb-card-body>

    <!--Calificación con caritas-->
    <nb-card-body *ngIf="item.tipo_pregunta === 'calificacion-emoji'">
      <div class="d-flex justify-content-center card">
        <h6 class="texto-azul text-center">{{ item.pregunta }}</h6>
      </div>
      <div
        *ngIf="item.imagen != ''"
        class="imagePreview d-flex justify-content-center"
      >
        <img
          width="200px"
          height="200px"
          [src]="item.imagen"
          [alt]="item.imagen"
        />
      </div>
      <div
        [id]="i"
        class="mt-3 h-100 align-items-center justify-content-center"
      >
        <ng-container>
          <div style="display: flex; justify-content: space-around">
            <div
              class="item"
              style="cursor: pointer"
              (click)="
                fn_preguntaRespuesta(
                  item.pregunta,
                  'NO SABE NO RESPONDE',
                  i + 6
                )
              "
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{
                  selected: checkSelected(i + 6, 'NO SABE NO RESPONDE') === true
                }"
                >sentiment_neutral</mat-icon
              >
            </div>
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'EXCELENTE', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{
                  selected: checkSelected(i + 6, 'EXCELENTE') === true
                }"
                >insert_emoticon</mat-icon
              >
            </div>
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'BIEN', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{
                  selected: checkSelected(i + 6, 'BIEN') === true
                }"
                >sentiment_satisfied_alt</mat-icon
              >
            </div>
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'REGULAR', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{
                  selected: checkSelected(i + 6, 'REGULAR') === true
                }"
                >sentiment_dissatisfied</mat-icon
              >
            </div>
            <div
              class="item"
              style="cursor: pointer"
              (click)="fn_preguntaRespuesta(item.pregunta, 'MALA', i + 6)"
            >
              <mat-icon
                class="icon-face"
                [ngClass]="{
                  selected: checkSelected(i + 6, 'MALA') === true
                }"
                >sentiment_very_dissatisfied</mat-icon
              >
            </div>
          </div>

          <div
            class="d-flex"
            style="margin: 30px; align-items: center"
            *ngIf="item.porque_pregunta === 1"
          >
            <input
              nbInput
              name="inputPorque"
              fullWidth
              placeholder="Porqué?"
              fieldSize="large"
              autofocus
              style="margin: auto"
              (keyup)="
                fn_preguntaRespuestaPorque(
                  item.pregunta,
                  $event.target.value,
                  i + 6
                )
              "
            />
          </div>
        </ng-container>
      </div>
    </nb-card-body>

    <!--Pregunta abierta-->
    <nb-card-body *ngIf="item.tipo_pregunta === 'abierta'">
      <div class="d-flex justify-content-center card">
        <h6 class="texto-azul text-center">{{ item.pregunta }}</h6>
      </div>
      <div
        *ngIf="item.imagen != ''"
        class="imagePreview d-flex justify-content-center"
      >
        <img
          width="200px"
          height="200px"
          [src]="item.imagen"
          [alt]="item.imagen"
        />
      </div>
      <div
        [id]="i"
        class="mt-3 d-flex h-100 align-items-center justify-content-center"
      >
        <ng-container>
          <input
            nbInput
            name="inputAbierta"
            fullWidth
            placeholder="Respuesta"
            fieldSize="large"
            autofocus
            (keyup)="
              fn_preguntaRespuesta(item.pregunta, $event.target.value, i + 6)
            "
          />
        </ng-container>
      </div>
    </nb-card-body>

    <!--Selección multiple con multiple respuesta-->
    <nb-card-body *ngIf="item.tipo_pregunta === 'opciones-multiple'">
      <div class="d-flex justify-content-center card">
        <h6 class="texto-azul text-center">{{ item.pregunta }}</h6>
      </div>
      <div
        *ngIf="item.imagen != ''"
        class="imagePreview d-flex justify-content-center"
      >
        <img
          width="200px"
          height="200px"
          [src]="item.imagen"
          [alt]="item.imagen"
        />
      </div>
      <div
        [id]="i"
        class="mt-3 d-flex h-100 align-items-center justify-content-center"
      >
        <ng-container *ngFor="let respuesta of item['nombre_respuesta']">
          <button
            class="m-2"
            nbButton
            [status]="'info'"
            (click)="fn_preguntaRespuesta(item.pregunta, respuesta, i + 6)"
          >
            <!--  <i class="mx-1 icon-size fa fa-grin-beam text-white icon pointer" ></i> -->{{
              respuesta
            }}
          </button>
        </ng-container>
      </div>
      <div
        class="d-flex"
        style="margin: 30px; align-items: center"
        *ngIf="item.porque_pregunta === 1"
      >
        <input
          nbInput
          name="inputPorque"
          fullWidth
          placeholder="Porqué?"
          fieldSize="large"
          autofocus
          style="margin: auto"
          (keyup)="
            fn_preguntaRespuestaPorque(
              item.pregunta,
              $event.target.value,
              i + 6
            )
          "
        />
      </div>
    </nb-card-body>

    <button
      *ngIf="i == mostrar_encuesta.length - 1"
      class="m-2 btn-azul"
      nbButton
      [status]="'primary'"
      (click)="fn_llenarEncuesta(item.pk_aplicacionEncuesta)"
    >
      <i class="mx-1 fa fa-save text-white icon pointer"></i>enviar
    </button>
  </nb-card>
</div>
