@import '../../../@theme/styles/themes';
@include nb-install-component() {
    input {
        width: 100%;
        max-width: 80% !important;
        margin-bottom: 1rem;
    }
    .cancel {
        margin-right: 1rem;
    }
    .card-tamano {
        overflow-y: auto;
        max-height: 100%;
    }
    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
    }
    .header-color-card {
        color: #ffffff !important;
        background: #e62a87 !important;
    }
    .color_iconos {
        color: #e62a87 !important;
    }
    ngx-chartjs-pie,
    ngx-chartjs-bar,
    ngx-chartjs-line,
    ngx-chartjs-multiple-xaxis,
    ngx-chartjs-bar-horizontal,
    ngx-chartjs-radar {
        display: block;
        height: nb-theme(card-height-medium);
        width: 100%;
         ::ng-deep chart {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    button[nbTreeGridRowToggle] {
        background: transparent;
        border: none;
        padding: 0;
    }
    .search-label {
        display: block;
    }
    .search-input {
        margin-bottom: 1rem;
    }
    .nb-column-name {
        width: 100%;
    }
     ::ng-deep .row-toggle-button {
        color: nb-theme(text-basic-color);
    }
    .nb-tree-grid-header-cell,
    .nb-tree-grid-header-cell button {
        text-transform: capitalize;
    }
    @media screen and (min-width: 400px) {
        .nb-column-name,
        .nb-column-size {
            width: 50%;
        }
    }
    @media screen and (min-width: 500px) {
        .nb-column-name,
        .nb-column-size,
        .nb-column-kind {
            width: 33.333%;
        }
    }
    @media screen and (min-width: 600px) {
        .nb-column-name {
            width: 31%;
        }
        .nb-column-size,
        .nb-column-kind,
        .nb-column-items {
            width: 23%;
        }
    }
}