@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
}

@import '../../../@theme/styles/themes';
@include nb-install-component() {
    .buttons-row {
        margin: -0.5rem;
    }
    button[nbButton] {
        margin: 0.5rem;
    }
    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
    }
    .actions-card {
        height: 8rem;
    }
}

nb-checkbox {
    margin-bottom: 1rem;
}

.form-inline [fullWidth] {
    flex: 1;
}

.form-inline>* {
    margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
}

.header-color-card {
    color: #ffffff !important;
    background: #e62a87 !important;
}

.posicion-agregar {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}