<div class="row">
    <div class="mb-4 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center header-color-card card">
        <h4 class="text-white text-center">Informes Encuestas PriceShoes</h4>
    </div>
    <!--     <div class="col-md-12">

        <nb-card>

            <nb-card-body>
                <div> <input class="input-size" type="text" [(ngModel)]="filterPost" name="filterPost" nbInput fullWidth shape="round" placeholder="Buscar"></div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Encuesta</th>
                            <th scope="col">Tienda</th>
                            <th scope="col">Pregunta</th>
                            <th scope="col">Respuesta</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let item of encuestasAsignadas | filter:filterPost">
                        <tr>
                            <td scope="row">{{ item.encuesta}}</td>
                            <td>{{ item.almacen }}</td>
                            <td>{{ item.pregunta }}</td>
                            <td>{{ item.respuesta }}</td>


                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>

 -->
    <div class="col-md-12">
        <nb-card>
            <nb-card-body class="d-flex justify-content-around">
                <nb-select class="w-100" selected="0">
                    <nb-option value="0">Tienda</nb-option>
                    <nb-option *ngFor="let tienda of aTiendas" value="{{tienda.pk_tienda}}">{{tienda.nombre}}</nb-option>
                </nb-select>
                <nb-select class="w-100" selected="0">
                    <nb-option value="0">Encuesta</nb-option>
                    <nb-option *ngFor="let item of aListaEncuesta" value="{{item.pk_encuesta}}">{{item.encuesta}}</nb-option>
                </nb-select>
                <nb-select selected="1">
                    <nb-option value="1">Preguntas</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                </nb-select>
                <nb-select selected="1">
                    <nb-option value="1">Fecha</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <nb-card>
            <nb-card-header class="fondo-header">Número de Aplicaciones por Encuesta </nb-card-header>

            <nb-card-body>
                <h1 class="text-center">45</h1>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="aBarras != {}" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <nb-card>
            <nb-card-header class="fondo-header">Respuestas por Pregunta </nb-card-header>

            <nb-card-body>
                <chart type="bar" class="h-100 w-100" [data]="data" [options]="options"></chart>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <nb-card>
            <nb-card-header class="fondo-header">Aplicación por Encuesta</nb-card-header>

            <nb-card-body>
                <div>
                    <input class="input-size" type="text" [(ngModel)]="filterPost" name="filterPost" nbInput fullWidth shape="round" placeholder="Buscar" />
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!--                             <th scope="col">Id</th> -->
                            <th scope="col">Encuesta</th>
                            <th scope="col">Número de aplicaciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of encuestasAsignadas ">
                        <tr>
                            <!--      <td scope="row">{{ item.datos }}</td> -->
                            <td>{{ item.datos }}</td>
                            <td>{{ item.encuesta.length }}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>