<nb-card class="card-tamano">
  <nb-card-header class="header-color-card">
    <i class="mx-1 fa fa-plus-circle icon pointer"></i>Agregar Encuesta
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="formEncuesta">
      <input
        nbInput
        placeholder="Nombre de la Encuesta"
        type="text"
        formControlName="nombre_encuesta"
      />
      <input
        nbInput
        placeholder="Descripcion"
        formControlName="descripcion_encuesta"
      />

      <ng-container
        formArrayName="pregunta_encuesta"
        *ngFor="let pregunta of pregunta_encuesta.controls; let i = index"
      >
        <nb-card>
          <nb-card-header>Pregunta {{ i }}</nb-card-header>
          <nb-card-body>
            <div [formGroupName]="i">
              <div class="form-group row">
                <div class="col-md-11">
                  <!--   <input type="text" [attr.id]="'item' + i" class="form-control" formControlName="nombre_pregunta"> -->
                  <input
                    nbInput
                    placeholder="Pregunta"
                    class="form-control"
                    formControlName="nombre_pregunta"
                  />
                </div>
                <div class="col-md-1">
                  <i
                    class="color_iconos mx-1 fa fa-trash icon"
                    nbTooltip="Eliminar Encuesta"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="danger"
                    (click)="fn_eliminarPregunta(i)"
                  ></i>
                </div>
              </div>
              <div>
                <input
                  nbInput
                  placeholder="Respuesta"
                  class="form-control"
                  formControlName="respuesta_encuesta"
                />
                <ul *ngFor="let item of aRespuestas">
                  <li>{{item}} </li>
                </ul>
              </div>
            </div>

            <div class="">
              <button
                type="submit"
                nbButton
                (click)="fn_agregarRespuesta(i)"
                [status]="'success'"
                [size]="'small'"
                ghost
              >
                Respuestas +
              </button>
            </div>
          </nb-card-body>
          <nb-card-footer> </nb-card-footer>
        </nb-card>
      </ng-container>

      <button
        class="mb-2"
        nbButton
        (click)="fn_agregarPregunta()"
        [status]="'info'"
        outline
      >
        Añadir preguntas
      </button>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">
      Cancelar
    </button>
    <button
      nbButton
      type="button"
      (click)="fn_guardarEncuesta()"
      status="success"
    >
      Aceptar
    </button>
  </nb-card-footer>
</nb-card>

<!-- 
<button class="mb-2" nbButton (click)="insertarPretgunta()" [status]="'info'" outline>
    +
</button>
<input #pregunta nbInput placeholder="Pregunta">

<input *ngIf="respuesta" #respuesta nbInput placeholder="Respuesta 1">
        <input #respuesta2 nbInput placeholder="Respuesta 2">
<input #respuesta3 nbInput placeholder="Respuesta 3"> -->
