@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    input {
        width: 100%;
        max-width: 80% !important;
        margin-bottom: 1rem;
    }
    .cancel {
        margin-right: 1rem;
    }
    .card-tamano {
        overflow-y: auto;
        max-height: 100%;
    }
    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
    }
}