@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    input {
        width: 100%;
        max-width: 80% !important;
        margin-bottom: 1rem;
    }
    .cancel {
        margin-right: 1rem;
    }
    .card-tamano {
        overflow-y: auto !important;
        max-height: 100% !important;
    }
    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
    }
    .header-color-card {
        backdrop-filter: blur(5px);
        background-color: rgba(66, 99, 152, 0.6);
        position: relative;
        z-index: 9;
    }
    .header-color{
        background-color: #33bdff;
    }
    .color_icono_pregunta {
        color: #ffffff !important;
        float: right;
    }
    .color_icono_respuesta {
        color: #e62a87 !important;
        float: right;
    }
    nb-card-body {
        overflow: visible;
        padding-top: 0;
      
        > * {
          margin-top: 1rem;
        }
      }
      
      .full-name-inputs,
      .validation-checkboxes {
        display: flex;
        margin: 0 -0.5rem;
      
        > * {
          margin: 0 0.5rem;
        }
      }
      
      .checkbox-radio {
        display: flex;
      }
      
      .demo-items {
        flex: 1 0 33%;
      }

      .d-none{
          display: none;
      }
      
}
