<div>
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Bienvenido(a)</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        {{ mensajeBienvenida }}
      </p>
      <div class="buttons">
        <button
          mat-stroked-button
          class="button-success"
          mat-dialog-close="true"
        >
          Si
          <mat-icon (click)="closeSucces()">sentiment_satisfied_alt</mat-icon>
        </button>
        <button mat-stroked-button class="button-cancel">
          No
          <mat-icon (click)="closeDialog()">sentiment_dissatisfied</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
